include mixins 
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('in wap.jade')
            
        +css('bs3')
        +css('thDf3')
        
        
        +S(["us", 'string', 'moment', 'both'])
        
        +S(['jq','jQueryPlus']) 
        
        +S(['frontOb'])
        
        +S(['superJQuery', 'superJQuerySty',  'superJQueryAnim'])
        
        +S(['handy'  ])  
        +S(['rules'])       
        +S(['flex'])         
        
        +S(['handyApps', 'flexApps' , 'frontApps'])  
        +S(['frontCan']) 
        
        +S([ "socket.io/socket.io"])
                    
        +S([ 'cjs', 'cjsMC', 'spriteSheets'  ])
        +S(['create', 'easel', 'tween','sprite','movie', 'anims'])     
        +S(['muggy']) 
        +S(['createGames', 'muggyApps' ])
       
        
        +S([ 'bs3',  'boot', 'boot4core', 'dropdown', 'navbar', 'bs4More'])    
            
    body
 
        
