include mixins 
!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        +css('jquery-ui')
        +css('jquery-ui.structure')
        +css('jquery-ui.theme')
        
        
        +S(["us", 'string', 'moment', 'both'])
        
        +S(['jq','jQueryPlus']) 
        
        +S(['superContext2D','superCanvas'])
        
        
        +S(['superJQuery', 'superJQuerySty',  'superJQueryAnim'])
        +S(['handy' ,'handyInputs' ])  
        +S(['rules'])       
        
        +S(['frontApps'])  
       
       
        +S(['jquery-ui', 'jquiCore', 'jquiApps', 'widgets'])


        +S(['bb', 'bbCore', 'bbLs', 'bbTemplate', 'bbApps', 'avail', 'bbLsApps', 'imgGal', 'direc'])
        
        +loadApps(app, pam)
        
       
    body
 
         
